<h2><%= @task.name %></h2>
<p><%= @task.done ? "Done!" : "Not done yet" %></p>
<p><%= link_to "Edit", task_edit_path %></p>
<p><%= link_to "Delete", task_delete_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>

<%= link_to "List of tasks", task_index_path %>
